<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表练习3</title>
    <style>
        ul{
            margin:0 auto;
            width: 1280px;
        }
        ul li{
            list-style-type: no;
            display: block;
            float: left;
            width: 100px;
            padding: 10px;
            background-color: #ccc;
            font-family: Consolas;
            font-weight: bold;
            text-align: center;
        }
        .li:hover{
            background-color: #ddd;
        }
    </style>
</head>
<body>

<ul>
    <li class="li">1</li>
    <li class="li">11</li>
    <li class="li">111</li>
    <li class="li">1111</li>
    <li class="li">11111</li>
    <li class="li">111111</li>
    <li class="li">1111111</li>
    <li class="li">11111111</li>
    <li class="li">111111111</li>
</ul>
</body>
</html>