<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜鸟教程(runoob.com)</title>
    <script>
        function displayDate()
        {
            document.getElementById("demo").innerHTML=Date();
        }
    </script>
</head>
<body>

<h1>我的第一个 JavaScript 程序</h1>
<p id="demo">这是一个段落</p>

<button type="button" onclick="displayDate()">显示日期</button>

</body>
</html> -->
<!--
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>111</title>
    <script>
        function display(){
            document.getElementById("h1").innerHTML="helloworld";
        }
    </script>
</head>
<body>
<h1 id="h1">heheda</h1>
<p>test</p>
<button type="button" onclick="display()">helloworld</button>
</body>
</html>-->
<html>
<head>
    <meta charset="utf-8"/>
    <title>getElementByName</title>
    <script>
        function getElementTest(){
            document.getElementById("test").innerText="heheda~~~";
        }
    </script>
</head>
<body>
<h1 id="test">1111</h1>
<button onclick="getElementTest()">确定</button>
</body>
</html>